/**
 * Table of Contents
 *
 * 2.0 - General Elements
 * 3.0 - Site Header
 * 3.1 - Logo
 * 3.2 - Main Navigation
 * 3.2.1 - Main Nav CSS 3 Hover Effect
 * 4.0 - Home/Blog
 * 4.1 - Read More Button CSS 3 style
 * 5.0 - Widget
 * 6.0 - Footer
 * 7.0 - Header Search Bar
 * 8.0 - Mobile Menu
 * 9.0 - Contact Page Social
 * 10.0 - Contact Form
 * 11.0 - Media Query
 * 12.0 - Comment
 * 13.0 - Pagination
 */

/**
 * 2.0 - General Elements
 */

* {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

b {
    font-weight: 400;
}

a {
    color: #333;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

a:hover, a:active {
    text-decoration: none;
    color: #3285e1;

    /*-webkit-transition: color 0.4s linear;*/
    /*transition: color 0.4s linear;*/
}

::selection {
    background-color: #eee;
}

body {
    color: #333;
    font-family: 'Lato', sans-serif;
    background: transparent;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.01em;
}

#single p,
#page p {
    margin-bottom: 25px;
}

.page-title {
    text-align: center;
    padding: 15px 0;
}

.title {
    margin-bottom: 30px;
}

figure {
    margin-bottom: 25px;
}

img {
    max-width: 100%;
}

.img-responsive-center img {
    margin: 0 auto;
}

.height-40px {
    margin-bottom: 40px;
}
.content-body{
    /*height: calc(100vh - 212px);*/
    min-height: 745px;
    margin-top: 130px;
}
/**
 * 3.0 - Site Header
 */

.site-header {
    background: rgba(255,255,255,0.85);
    padding: 20px 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 6px #13c5f8;
    box-shadow: 0 0 6px #13c5f8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}


/**
 * 3.1 - Logo
 */

.logo h1 a {
    display: inline-block;
    color: #000;
    font-weight: 500;
    height: 39px;
    line-height: 36px;
}

.logo h1 a:hover {
    text-decoration: none;
    border-bottom: none;
}

.logo h1 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/**
 * 3.2 - Main Navigation
 */

.main-nav {
    margin-top: 10px;
    max-width: 95%;
}

.main-nav a {
    color: #000000 !important;
    padding: 0 0 5px 0 !important;
    margin-right: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.main-nav a:active,
.main-nav a:focus,
.main-nav a:hover {
    background-color: transparent !important;
    border-bottom: 0;
}

.navbar-toggle {
    border: 0;
    padding: 0;
    margin-right: 25px;
}

.navbar-toggle span {
    font-size: 2em;
    color: #000;
}

/**
 * 3.2.1 - Main Nav CSS 3 Hover Effect
 */

.cl-effect-11 a {
    padding: 10px 0;
    color: #0972b4;
    text-shadow: none;
}

.cl-effect-11 a::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 0 0 5px 0 !important;
    max-width: 0;
    border-bottom: 1px solid #3285e1;
    color: #3285e1;
    content: attr(data-hover);
    white-space: nowrap;
    -webkit-transition: max-width 0.5s;
    -moz-transition: max-width 0.5s;
    transition: max-width 0.5s;
}

.cl-effect-11 a:hover::before,
.cl-effect-11 a:focus::before {
    max-width: 100%;
}

/**
 * 4.0 - Home/Blog
 */

.post {
    background: rgba(255,255,255,0.6);
    padding: 0 30px;
    margin-bottom: 30px;
    border: 1px solid rgba(0,0,0,0);
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.post:hover{
    border: 1px solid #ff6700;
    /*-webkit-box-shadow: 0 1px 6px #13c5f8;
    box-shadow: 0 1px 6px #13c5f8;*/
}
.entry-title {
    text-align: center;
    font-size: 1.9em;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 10px 20px 0;
}

.entry-meta {
    text-align: center;
    color: #DDDDDD;
    font-size: 13px;
    margin-bottom: 30px;
}
.entry-meta span a:hover,
.entry-meta span a:active{
    color: #333;
    cursor: default;
}
.entry-content {
    font-size: 18px;
    line-height: 1.9;
    font-weight: 300;
    color: #000;
}

.post-category::after,
.post-date::after,
.post-author::after,
.comments-link::after {
    content: ' ·';
    color: #000;
}

/**
 * 4.1 - Read More Button CSS 3 style
 */

.read-more {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 20px;
}

.cl-effect-14 a {
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

.cl-effect-14 a::before,
.cl-effect-14 a::after {
    position: absolute;
    width: 45px;
    height: 1px;
    background: #C3C3C3;
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

.cl-effect-14 a::before {
    top: 0;
    left: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    transform-origin: 0 0;
}

.cl-effect-14 a::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::before,
.cl-effect-14 a:focus::after {
    background: #3285e1;
}

.cl-effect-14 a:hover::before,
.cl-effect-14 a:focus::before {
    left: 50%;
    -webkit-transform: rotate(0deg) translateX(-50%);
    -moz-transform: rotate(0deg) translateX(-50%);
    transform: rotate(0deg) translateX(-50%);
}

.cl-effect-14 a:hover::after,
.cl-effect-14 a:focus::after {
    right: 50%;
    -webkit-transform: rotate(0deg) translateX(50%);
    -moz-transform: rotate(0deg) translateX(50%);
    transform: rotate(0deg) translateX(50%);
}

/**
 * 5.0 - Widget
 */

.widget {
    background: rgba(255,255,255,0.5);
    padding: 0 10px 5px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    box-shadow: 0 1px 6px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.widget-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    line-height: 1.6;
    padding: 10px 0 0;
    font-weight: 400;
}

.widget-recent-posts ul {
    margin: 0;
    padding-left: 20px;
}

.widget-recent-posts ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    padding-bottom: 10px;
}

.widget-recent-posts ul li::before {
    content: '\f3d3';
    font-family: "Ionicons";
    position: absolute;
    left: -17px;
    top: 1px;
    font-size: 16px;
    color: #3285e1;
    font-weight: bold;
}

.widget-archives ul {
    margin: 0;
    padding-left: 25px;
}

.widget-archives ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    padding-bottom: 10px;
}

.widget-archives ul li::before {
    content: '\f3f3';
    font-family: "Ionicons";
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 16px;
    color: #3285e1;
    font-weight: bold;
}

.widget-category ul {
    margin: 0;
    padding-left: 25px;
}

.widget-category ul li {
    list-style-type: none;
    position: relative;
    line-height: 170%;
    padding-bottom: 10px;
}

.widget-category ul li::before {
    content: '\f3fe';
    font-family: "Ionicons";
    position: absolute;
    left: -25px;
    top: 1px;
    font-size: 18px;
    color: #3285e1;
    font-weight: bold;
}

.widget-tag-cloud ul {
    padding: 0;
    margin-right: -10px;
}

.widget-tag-cloud ul li {
    list-style-type: none;
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 3px 8px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.widget-content ul ul {
    margin-top: 10px;
}

.widget-content ul li {
    margin-bottom: 10px;
}

.rss {
    font-size: 21px;
    margin-top: 30px;
}

.rss a {
    color: #444;
}

/**
 * 6.0 - Footer
 */

.site-footer {
    padding: 0 0 10px 0;
    background: #202121;
}

.copyright {
    text-align: center;
    padding-top: 15px;
    margin: 0;
    color: #fff;
    font-size: 16px;
}

/**
 * 7.0 - Header Search Bar
 */

#header-search-box {
    position: absolute;
    right: 15px;
    top: 1px;
}

.search-form {
    display: none;
    width: 25%;
    position: absolute;
    min-width: 400px;
    right: 26px;
    top: 1px;
}

#search-menu span {
    font-size: 28px;
}

#searchform {
    position: relative;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 36px;
}

#searchform input[type=search] {
    width: 100%;
    border: 1px solid #ddd;
    position: absolute;
    left: 0;
    padding: 7px 30px 7px 10px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 99;
}
#searchform input[type=search]:focus{
    border: 1px solid #3285e1;
}
#searchform button {
    position: absolute;
    right: 4px;
    top: 3px;
    width: 30px;
    z-index: 999;
    background: transparent;
    border: 0;
    padding: 0;
}
#searchform button:hover{
    color: #3285e1;
}
#searchform button span {
    font-size: 22px;
}

#search-menu span.ion-ios-close-empty {
    font-size: 40px;
    line-height: 0;
    position: relative;
    top: -1px;
}

/**
 * 8.0 - Mobile Menu
 */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
}

.overlay .overlay-close {
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 0;
    overflow: hidden;
    border: none;
    color: transparent;
    background-color: transparent;
    z-index: 100;
}

.overlay-hugeinc.open .ion-ios-close-empty {
    color: #000;
    font-size: 50px;
}

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}

.overlay ul li {
    display: block;
    height: 20%;
    height: calc(100% / 5);
    min-height: 54px;
}

.overlay ul li a {
    font-weight: 300;
    display: block;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
    color: #000;
}

.overlay-hugeinc {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-hugeinc.open {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.overlay-hugeinc nav {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.overlay-hugeinc nav ul {
    opacity: 0.4;
    -webkit-transform: translateY(-25%) rotateX(35deg);
    transform: translateY(-25%) rotateX(35deg);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
    -webkit-transform: translateY(25%) rotateX(-35deg);
    transform: translateY(25%) rotateX(-35deg);
}

/**
 * 9.0 - Contact Page Social
 */

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.social li a {
    border: 1px solid #888;
    font-size: 22px;
    color: #888;
    transition: all 0.3s ease-in;
}

.social li a:hover {
    background-color: #333;
    color: #fff;
}

.facebook a {
    padding: 12px 21px;
}

.twitter a {
    padding: 12px 15px;
}

.google-plus a {
    padding: 12px 15px;
}

.tumblr a {
    padding: 12px 20px;
}

/**
 * 10.0 - Contact Form
 */

.contact-form input, .comment-form input {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    -webkit-transition: border-color 0.4s linear;
    transition: border-color 0.4s linear;
}

.contact-form textarea, .comment-form textarea {
    border: 1px solid #aaa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 5px 10px;
    width: 100%;
    font-size: 14px;
    line-height: 20px !important;
    min-height: 183px;
    -webkit-transition: border-color 0.4s linear;
    transition: border-color 0.4s linear;
}

.contact-form input:focus, .comment-form input:focus,
.contact-form textarea:focus, .comment-form textarea:focus {
    border-color: #3285e1;
}
.contact-form div{
    text-align: center;
}
.btn-send {
    position: relative;
    background: none;
    border: 1px solid #3285e1;
    color: #fff;
    background: #3285e1;
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
    height: 38px;
    line-height: 36px;
    margin-bottom: 15px;
    display: inline-block;
    letter-spacing: 1px;
    /*transition: all 0.3s;*/
}
.btn-send:hover{
    color: #fff;
    background: #307dd2;
    border: 1px solid #307dd2;
    transition: background 0.3s,border 0.3s;
}
.btn-5 {
    color: #666;
    /*height: 70px;*/
    min-width: 200px;
    /*line-height: 15px;*/
    font-size: 18px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-5 span {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.btn-5:before {
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 38px;
    font-size: 180%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-5:active:before {
    color: #703b87;
}

.btn-5b:hover span {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
}

.btn-5b:before {
    left: -100%;
    top: 0;
}

.btn-5b:hover:before {
    left: 0;
}

/**
 * 11.0 - Media Query
 */

@media (max-width: 991px) {
    .main-nav a {
        margin-right: 20px;
    }

    #header-search-box {
        position: absolute;
        right: 20px;
    }
}

@media (max-width: 767px) {
    #header-search-box {
        right: 20px;
        top: 9px;
    }

    .main-nav {
        margin-top: 2px;
    }

    .btn-5 span {
        display: none;
    }

    .btn-5b:before {
        left: 0;
    }
}

@media (max-width: 431px) {
    .logo h1 {
        margin-top: 8px;
        font-size: 24px;
    }

    .post {
        background: #fff;
        padding: 0 10px 0;
    }

    .more-link {
        font-size: 0.9em;
        line-height: 100%;
    }
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }

    .overlay ul li {
        min-height: 34px;
    }
}

/**
 * 12.0 - Comment
 */
.comment-area {
    padding: 0 30px 0;
}

.comment-form {
    margin-top: 15px;
}

.comment-form .comment-btn {
    background-color: #fff;
    border: 1px solid #3285e1;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    padding: 5px 20px;
    color: #3285e1;
    -webkit-transition: background-color 0.2s linear,color 0.2s linear,border 0.2s linear;
    transition: background-color 0.2s linear,color 0.2s linear,border 0.2s linear;
}
.comment-form .comment-btn:hover{
    color: #fff;
    background-color: #3285e1;
    border: 1px solid #3285e1;
}
.comment-list-panel {
    margin-top: 30px;
}

.comment-list {
    margin-top: 15px;
}

.comment-item:not(:last-child) {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.comment-item .nickname,
.comment-item .submit-date {
    color: #777;
    font-size: 14px;
}

.comment-item .nickname:after {
    content: ' ·';
}

.comment-item .text {
    padding-top: 5px;
    font-size: 16px;
}

/**
 * 13.0 - Pagination
 */
.pagination-simple {
    padding-left: 30px;
    font-size: 16px;
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}

.current a {
    color: red;
}

/**
 * 14.0 - body-bg
 */
#wrapper {
    -webkit-animation: fade 15s infinite;
    -moz-animation: fade 15s infinite;
    -ms-animation: fade 15s infinite;
    width: 100%;
    min-height: 100%;
}
@-webkit-keyframes fade {
 0% { background: url("../img/bg1.jpg") center center no-repeat; background-size: cover; background-attachment:fixed}
 33% { background: url("../img/bg2.jpg") center center no-repeat; background-size: cover; background-attachment:fixed}
 66% { background: url("../img/bg3.jpg") center center no-repeat; background-size: cover; background-attachment:fixed}
 100% { background: url("../img/bg1.jpg") center center no-repeat; background-size: cover; background-attachment:fixed}
}

/*@-moz-keyframes fade {*/
 /*0% { background-color: rgba(3,219,219,.08);}*/
 /*20% { background-color: rgba(115,3,219,.08);}*/
 /*40% { background-color: rgba(219,3,100,.08);}*/
 /*60% { background-color: rgba(219,201,3,.08);}*/
 /*80% { background-color: rgba(24,219,3,.08);}*/
 /*100% { background-color: rgba(3,219,219,.08);}*/
/*}*/

/*@-ms-keyframes fade {*/
 /*0% { background-color: rgba(3,219,219,.08);}*/
 /*20% { background-color: rgba(115,3,219,.08);}*/
 /*40% { background-color: rgba(219,3,100,.08);}*/
 /*60% { background-color: rgba(219,201,3,.08);}*/
 /*80% { background-color: rgba(24,219,3,.08);}*/
 /*100% { background-color: rgba(3,219,219,.08);}*/
/*}*/
/**
 *覆盖bootstrap个别样式
 */
@media (max-width: 1200px){
    .content-body {
        height: 100%;
    }
}

.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #3285e1;
    border-color: #3285e1;
}
.pagination>li>a {
    color: #3285e1;
    background: rgba(255,255,255,0.5);
}
.pagination>li>a:hover {
    background: rgba(255,255,255,1);
}
.pagination{
    margin: 0 0 30px;
}