{%  load staticfiles %}

<!DOCTYPE html>
<html id="wrapper">
	<head>
		<title>牧心的博客</title>

		<!-- meta -->
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">

	    <!-- css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
        <link rel="stylesheet" href="{% static 'css/pace.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    	<link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon">
	    
	</head>

	<body id="page">

        <header class="site-header">
            <div class="container fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-8">
                        <div class="logo">
                           <h1><a href="{% url 'blog:index' %}"><img src="{% static 'img/icons/logo.png' %}" /><span>牧心的博客</span></a></h1>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-8 col-sm-7 col-xs-4">
                        <nav class="main-nav" role="navigation">
                            <div class="navbar-header">
                                <button type="button" id="trigger-overlay" class="navbar-toggle">
                                    <i class="iconfont icon-menu"></i>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:full_blog' %}" data-hover="博客">博客</a></li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a></li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="联系">联系</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>
                        <div id="header-search-box">
                             <a id="search-menu" href="#">
                                <i id="search-icon" class="iconfont icon-sousuo_sousuo"></i>
                            </a>
                            <div id="search-form" class="search-form">
                                <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                                    {% csrf_token %}
                                    <input type="search" name="searchWords" placeholder="搜索" required>
                                    <button type="submit"><i class="iconfont icon-sousuo"></i></button>
                                </form>
                            </div>
                        </div>
                    </div><!-- col-md-8 -->
                </div>
            </div>
        </header>
        <div class="content-body">
            <div class="container fadeInLeft animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="row">
                    <main class="col-md-12">
                        <article class="post">
                            <h1 class="page-title">About Me</h1>
                            <div class="entry-content clearfix">
                                <div class="img-responsive-center">
                                    <img class="img-responsive" src="{% static 'img/me.jpg' %}" alt="Developer Image">
                                </div>
                                <div class="item-cont">
                                    <p>增加中。。。</p>
                                </div>
                            </div>
                        </article>
                    </main>
                </div>
            </div>
        </div>

        <footer class="site-footer">
            <div class="container wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copyright">Copyright&nbsp;&copy;&nbsp;2017&nbsp;牧心</p>
						<p class="icp"><a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备17034723号-1</a></p>
                    </div>
                </div>
            </div>
        </footer>
		<!-- Mobile Menu -->
		<div class="overlay overlay-hugeinc">
			<button type="button" class="overlay-close"><i class="iconfont icon-cha"></i></button>
			<nav>
				<ul>
					<li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li><a href="{% url 'blog:full_blog' %}">博客</a></li>
                    <li><a href="{% url 'blog:about' %}">关于</a></li>
                    <li><a href="{% url 'blog:contact' %}">联系</a></li>
				</ul>
			</nav>
		</div>
		<!-- go top -->
        <div class="m-gotop">
            <a href="javascript:;" title="返回顶部"><i class="iconfont icon-jiantou"></i></a>
        </div>
        <!-- js -->
        <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/pace.min.js' %}"></script>
        <script src="{% static 'js/custom.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
        <!--[if (gte IE 9)|(!IE)]> -->
	    <script src="{% static 'js/wow.min.js' %}" type="text/javascript" charset="utf-8"></script>
	    <!-- <![endif]-->
	    <!--[if (gte IE 9)|(!IE)]> -->
	    <script>
	        new WOW().init();
	    </script>
	    <!-- <![endif]-->
		<script>
            $(function(){
                goTop();
            });
        </script>
	</body>
</html>
