{% extends 'base.html' %}

{% load page_tags %}

{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                  <span class="post-category">
                      <i class="iconfont icon-fenlei"></i>
                      <span>{{ post.category.name }}</span>
                  </span>
                  <span class="post-date">
                      <i class="iconfont icon-shijian"></i>
                      <span>
                          <time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time>
                      </span>
                  </span>
                  <span class="post-author">
                      <i class="iconfont icon-zuozhe"></i>
                      <span>{{ post.author }}</span>
                  </span>
                  <span class="comments-link">
                      <i class="iconfont icon-pinglun"></i>
                      <span>{{ post.comment_set.count }} 评论</span>
                  </span>
                  <span class="views-count">
                      <i class="iconfont icon-yuedu"></i>
                      <span>{{ post.views }} 阅读</span>
                  </span>
               </div>
        </header>
        <div class="entry-content clearfix">
            {{ post.body|safe }}
            <!--<div class="widget-tag-cloud">
                <ul>
                    标签：
                    {% for tag in post.tags.all %}
                        <li><a href="{% url 'blog:tag' tag.pk %}"># {{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>-->
        </div>
    </article>
    <section class="comment-area">
        <!-- 把友言评论系统代码放到想让评论框显示的地方 -->
		<!-- UY BEGIN -->
		<!-- <div id="uyan_frame"></div> -->
		<!-- <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2137891"></script> -->
		<!-- UY END -->
		<!--PC和WAP自适应版-->
		<div id="SOHUCS" ></div>
		<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
		<script type="text/javascript">
		window.changyan.api.config({
		appid: 'cyt5Mr3l9',
		conf: 'prod_de4ec7bf574ca64c97683fffe28b0cb3'
		});
		</script>
		<!--<h3>发表评论</h3>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="{{ form.name.id_for_label }}">名字：</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.email.id_for_label }}">邮箱：</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.url.id_for_label }}">URL：</label>
                    {{ form.url }}
                    {{ form.url.errors }}
                </div>
                <div class="col-md-12">
                    <label for="{{ form.text.id_for_label }}">评论：</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    <button type="submit" class="comment-btn">发表</button>
                </div>
            </div>   
        </form>
         <div class="comment-list-panel">
             <h3>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h3>
             <ul class="comment-list list-unstyled">
                 {% for comment in comment_list %}
                 <li class="comment-item">
                    <span class="nickname">{{ comment.name }}</span>
                    <time class="submit-date">{{ comment.created_time }}</time>
                    <div class="text">{{ comment.text }}</div>
                 </li>
                 {% empty %}
                 	暂无评论
                 {% endfor %}
             </ul>
         </div>-->
    </section>
{% endblock main %}
{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
         <!-- 由于 toc 的值为一段 HTML 文本，所以要使用 safe 标签过滤 -->
        {{ toc|safe }}
    </div>
{% endblock toc %}