{% extends 'base.html' %}

{% load page_tags %}

{% block main %}
    {% if error_msg %}
    <p>{{ error_msg }}</p>
    {% endif %}
    {% for post in post_list %}
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
               <div class="entry-meta">
                  <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                  <span class="post-date"><a href="#"><time class="entry-date" datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                  <span class="post-author"><a href="#">{{ post.author }}</a></span>
                  <span class="comments-link"><a href="#">{{ post.comment_set.count }} 评论</a></span>
                  <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
               </div>
            </header>
            <div class="entry-content clearfix">
                <p>{{ post.excerpt }}</p>
                <div class="read-more cl-effect-14">
                    <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    <!-- 简单分页效果-->
{#    <div class="pagination">#}
{#        {% if post_list.has_previous %}#}
{#            <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->#}
{#            <a href="?page={{ post_list.previous_page_number }}">上一页</a>#}
{#        {% endif %}#}
{#        <span class="current">#}
{#            <!-- 显示当前页面信息 -->#}
{#            第 {{ post_list.number }} 页 / 共 {{ post_list.paginator.num_pages }} 页#}
{#        </span>#}
{#         {% if post_list.has_next %}#}
{#            <!-- 如果当前页还有上下页，显示一个下一页的按钮 -->#}
{#            <a href="?page={{ post_list.next_page_number }}">下一页</a>#}
{#         {% endif %}#}
{#    </div>#}
    <nav aria-label="Page navigation">
      <ul class="pagination">
          {% if post_list.has_previous %}
              <li>
                  <a href="?page={{ post_list.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          {% endif %}

        {%  for pg in post_list.paginator.page_range %}
            {% circle_page post_list.number pg %}
        {% endfor %}

        {% if post_list.has_next %}
            <li>
              <a href="?page={{ post_list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
            {% endif %}
      </ul>
    </nav>

{% endblock main %}