{%  load staticfiles %}

{%  load blog_tags %}

<!DOCTYPE html>
<html id="wrapper">
    <head>
        <title>牧心的博客</title>

        <!-- meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css -->
        <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/iconfont.css' %}">
        <!--<link rel="stylesheet" href="{% static 'blog/css/ionicons.css' %}">-->
        <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
        <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">

    </head>

    <body >
        <header class="site-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-8">
                        <div class="logo">
                            <h1><a href="{% url 'blog:index' %}">牧心的博客</a></h1>
                        </div>
                    </div><!-- col-md-4 -->
                    <div class="col-md-8 col-sm-7 col-xs-4">
                        <nav class="main-nav" role="navigation">
                            <div class="navbar-header">
                                <button type="button" id="trigger-overlay" class="navbar-toggle">
                                    <span class="ion-navicon"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:full_blog' %}" data-hover="博客">博客</a></li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:about' %}" data-hover="关于">关于</a></li>
                                    <li class="cl-effect-11"><a href="{% url 'blog:contact' %}" data-hover="联系">联系</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>
                        <div id="header-search-box">
                            <a id="search-menu" href="#">
                                <i id="search-icon" class="iconfont icon-sousuo_sousuo"></i>
                            </a>
                            <div id="search-form" class="search-form">
                                <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
                                    {% csrf_token %}
                                    <input type="search" name="searchWords" placeholder="搜索" required>
                                    <button type="submit"><i class="iconfont icon-sousuo"></i></button>
                                </form>
                            </div>
                        </div>
                    </div><!-- col-md-8 -->
                </div>
            </div>
        </header>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <main class="col-md-9">
                        {% block main %}
                        {% endblock main %}
                    </main>
                    <aside class="col-md-3">
                        {% block toc %}
                        {% endblock toc %}
                        <div class="widget widget-recent-posts">
                            <h3 class="widget-title">最新文章</h3>
                            {% get_recent_posts as recent_post_list %}
                            <ul>
                                {% for post in recent_post_list %}
                                <li>
                                    <i class="iconfont icon-jiantouright"></i>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </li>
                                {% empty %}
                                暂无文章！
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget widget-archives">
                            <h3 class="widget-title">归档</h3>
                            {% archives as date_list %}
                            <ul>
                                {% for date in date_list %}
                                <li>
                                    <i class="iconfont icon-guidang"></i>
                                    <a href="{% url 'blog:archives' date.year date.month %}">
                                        {{ date.year }} 年 {{ date.month }} 月
                                    </a>
                                </li>
                                {% empty %}
                                暂无归档！
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widget widget-category">
                            <h3 class="widget-title">分类</h3>
                            {% get_categories as category_list %}
                            <ul>
                                {% for category in category_list %}
                                <li>
                                    <i class="iconfont icon-fenlei"></i>
                                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.num_posts }})</span></a>
                                </li>
                                {% empty %}
                                暂无分类！
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widget widget-tag-cloud">
                            <h3 class="widget-title">标签云</h3>
                            <ul>
                                <li>
                                    <a href="#">Django</a>
                                </li>
                                <li>
                                    <a href="#">Python</a>
                                </li>
                                <li>
                                    <a href="#">Java</a>
                                </li>
                                <li>
                                    <a href="#">笔记</a>
                                </li>
                                <li>
                                    <a href="#">文档</a>
                                </li>
                                <li>
                                    <a href="#">AngularJS</a>
                                </li>
                                <li>
                                    <a href="#">CSS</a>
                                </li>
                                <li>
                                    <a href="#">JavaScript</a>
                                </li>
                                <li>
                                    <a href="#">Snippet</a>
                                </li>
                                <li>
                                    <a href="#">jQuery</a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
        <footer class="site-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">&copy 2017 牧心的博客</p>
                        </div>
                    </div>
                </div>
            </footer>
        <!-- Mobile Menu -->
        <div class="overlay overlay-hugeinc">
            <button type="button" class="overlay-close"><i class="iconfont icon-cha"></i></button>
            <nav>
                <ul>
                    <li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li><a href="{% url 'blog:full_blog' %}">博客</a></li>
                    <li><a href="{% url 'blog:about' %}">关于</a></li>
                    <li><a href="{% url 'blog:contact' %}">联系</a></li>
                </ul>
            </nav>
        </div>
        <!-- go top -->
        <div class="m-gotop">
            <a href="javascript:;" title="返回顶部"><i class="iconfont icon-jiantou"></i></a>
        </div>
        <!-- js -->
        <script src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
        <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'blog/js/pace.min.js' %}"></script>
        <script src="{% static 'blog/js/custom.min.js' %}"></script>
        <script src="{% static 'blog/js/script.js' %}"></script>
        <script>
            $(function(){
                goTop();
            });
        </script>

    </body>
</html>
