{%  load staticfiles %}

{%  load blog_tags %}

<!DOCTYPE html>
<html id="wrapper">
    <head>
        <title>牧心的博客</title>

        <!-- meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Python学习,Django学习,Javascript学习，Html5学习，Css3学习，Vue.js学习，Angular.js学习,Linux学习，阿里云服务器部署，Less学习">
		<meta name="description" content="牧心的博客是基于django框架开发的，该博客用于学习、分享、交流前端（Html5、Css3、Javascript、Vue.js...），Linux系统，后端（Python、Django...），服务器部署（阿里云ECS、Nginx、Gunicorn...）等方面的知识。">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- css -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/iconfont.css' %}">
        <link rel="stylesheet" href="{% static 'css/pace.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    	<link rel="shortcut icon" href="{% static 'img/icons/favicon.ico' %}" type="image/x-icon">

    </head>

    <body >
        <header class="site-header home-header">
            <div class="container fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="logo">
                            <h1><a href="{% url 'blog:index' %}"><img src="{% static 'img/icons/logo.png' %}"/><span>牧心的博客</span></a></h1>
                        </div>
                        <div class="nav-wrap">
	                        <nav class="main-nav" role="navigation">
	                            <div class="navbar-header">
	                                <button type="button" id="trigger-overlay" class="navbar-toggle">
	                                    <i class="iconfont icon-menu"></i>
	                                </button>
	                            </div>
	
	                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                                <ul class="nav navbar-nav">
	                                    <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
	                                    <li class="cl-effect-11"><a href="{% url 'blog:full_blog' %}" data-hover="博客">博客</a></li>
	                                    <li class="cl-effect-11"><a href="{% url 'blog:resume' %}" data-hover="关于我">关于我</a></li>
	                                </ul>
	                            </div><!-- /.navbar-collapse -->
	                        </nav>
	                        <div id="header-search-box">
	                            <a id="search-menu" href="#">
	                                <i id="search-icon" class="iconfont icon-sousuo_sousuo"></i>
	                            </a>
	                            <div id="search-form" class="search-form">
	                                <form role="search" method="get" id="searchform" action="{% url 'blog:search' %}">
	                                    {% csrf_token %}
	                                    <input type="search" name="searchWords" placeholder="搜索" required>
	                                    <button type="submit"><i class="iconfont icon-sousuo"></i></button>
	                                </form>
	                            </div>
	                        </div>
	                    </div>
                    </div><!-- col-md-4 -->
                </div>
            </div>
        </header>
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <main class="col-md-9 fadeInLeft animated" >
                        {% block main %}
                        {% endblock main %}
                    </main>
                    <aside class="col-md-3 fadeInRight animated">
                        {% block toc %}
                        {% endblock toc %}
                        <div class="widget widget-recent-posts">
                            <h3 class="widget-title">最新文章</h3>
                            {% get_recent_posts as recent_post_list %}
                            <ul>
                                {% for post in recent_post_list %}
                                <li>
                                    <i class="iconfont icon-jiantouright"></i>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </li>
                                {% empty %}
                               		 暂无文章！
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="widget widget-archives">
                            <h3 class="widget-title">归档</h3>
                            {% archives as date_list %}
                            <ul>
                                {% for date in date_list %}
                                <li>
                                    <i class="iconfont icon-guidang"></i>
                                    <a href="{% url 'blog:archives' date.year date.month %}">
                                        {{ date.year }} 年 {{ date.month }} 月
                                    </a>
                                </li>
                                {% empty %}
                                	暂无归档！
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widget widget-category">
                            <h3 class="widget-title">分类</h3>
                            {% get_categories as category_list %}
                            <ul>
                                {% for category in category_list %}
                                <li>
                                    <i class="iconfont icon-fenlei"></i>
                                    <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span class="post-count">({{ category.num_posts }})</span></a>
                                </li>
                                {% empty %}
                                	暂无分类！
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="widget widget-tag-cloud">
                              <h3 class="widget-title">标签云</h3>
                              {% get_tags as tag_list %}
                              <ul>
                                  {% for tag in tag_list %}
                                  <li>
                                      <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>
                                  </li>
                                  {% empty %}
                                      <p class="empty-tata">暂无标签！</p>
                                  {% endfor %}
                              </ul>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
        <footer class="site-footer">
                <div class="container wow fadeInUp animated" data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">Copyright&nbsp;&copy;&nbsp;2017&nbsp;牧心</p>
							<p class="icp">京ICP备17034723号-1</p>
							<p class="" style="text-align:center;">
								<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42062602000034" style="line-height:20px;">
									<img src="{% static 'img/icons/beian.png' %}" style=""/><span>鄂公网安备 42062602000034号</span>
								</a>
							</p>
						</div>
                    </div>
                </div>
            </footer>
        <!-- Mobile Menu -->
        <div class="overlay overlay-hugeinc">
            <button type="button" class="overlay-close"><i class="iconfont icon-cha"></i></button>
            <nav>
                <ul>
					<li><a href="{% url 'blog:index' %}">首页</a></li>
                    <li><a href="{% url 'blog:full_blog' %}">博客</a></li>
                    <li><a href="{% url 'blog:resume' %}">关于我</a></li>
				</ul>
            </nav>
        </div>
        <!-- go top -->
        <div class="m-gotop">
            <a href="javascript:;" title="返回顶部"><i class="iconfont icon-jiantou"></i></a>
        </div>
        <!-- js -->
        <script src="{% static 'js/jquery-2.1.3.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/pace.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/custom.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/script.js' %}" type="text/javascript" charset="utf-8"></script>
        <!--[if (gte IE 9)|(!IE)]> -->
	    <script src="{% static 'js/wow.min.js' %}" type="text/javascript" charset="utf-8"></script>
	    <!-- <![endif]-->
	    <!--[if (gte IE 9)|(!IE)]> -->
	    <script>
	        new WOW().init();
	    </script>
	    <!-- <![endif]-->
        <script>
            $(function(){
                goTop();
            });
        </script>

    </body>
</html>
